{%- comment -%}
  Remove line numbers from code blocks for search indexing
{%- endcomment -%}

{%- assign content = include.content -%}
{%- assign content = content | replace: '<div class="highlight"><pre class="highlight"><code>', '<pre><code>' -%}
{%- assign content = content | replace: '</code></pre></div>', '</code></pre>' -%}
{%- assign content = content | replace: '<table class="rouge-table"><tbody><tr><td class="rouge-gutter gl"><pre class="lineno">', '' -%}
{%- assign content = content | replace: '</pre></td><td class="rouge-code"><pre><code>', '<pre><code>' -%}
{%- assign content = content | replace: '</code></pre></td></tr></tbody></table>', '</code></pre>' -%}
{%- assign content = content | replace: '<span class="lineno">', '' -%}
{%- assign content = content | replace: '</span>', '' -%}
{%- assign content = content | split: '<div class="lineno">' | join: '' -%}
{%- assign content = content | split: '</div>' | join: '' -%}
